DATABASE_URL=postgresql://postgres:ynLk.#N!hp,i5kb@db.cqhqgmeygtzikfuxowsw.supabase.co:5432/postgres
SECRET_KEY=tradelink_fyp_secure_key_9f4a1d7c82f3b6e
FRONTEND_URL=https://tradelink-fyp.vercel.app/
ALPHA_VANTAGE_API_KEY=
